In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x={'Names':['charan','hindu','likky','harsha','akshay','tarun','surya','moulika','jhansi','satwika'],
   'RegNo':['21mai1021','21mai1022','21mai1023','21mai1024','21mai1025','21mai1026','21mai1027','21mai1028','21mai1029','21mai1030'],
   'GPA':[9,6,7,2,4,3,1,0,np.nan,8,],
   'CGPA':[0,1,2,3,4,5,6,7,8,9],
   'Phno':['9502001591','9502001592','9502001593','9502001594','9502001595','9502001596','9502001597','9502001598','9502001599','9502001600']}

In [ ]:
x

{'Names': ['charan',
  'hindu',
  'likky',
  'harsha',
  'akshay',
  'tarun',
  'surya',
  'moulika',
  'jhansi',
  'satwika'],
 'RegNo': ['21mai1021',
  '21mai1022',
  '21mai1023',
  '21mai1024',
  '21mai1025',
  '21mai1026',
  '21mai1027',
  '21mai1028',
  '21mai1029',
  '21mai1030'],
 'GPA': [9, 6, 7, 2, 4, 3, 1, 0, nan, 8],
 'CGPA': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'Phno': ['9502001591',
  '9502001592',
  '9502001593',
  '9502001594',
  '9502001595',
  '9502001596',
  '9502001597',
  '9502001598',
  '9502001599',
  '9502001600']}

Task-1: Create a pandas dataframe(DataFrame name as 'df')(10Observations and 5Features)

In [ ]:
df=pd.DataFrame(x)

In [ ]:
df

     Names      RegNo  GPA  CGPA        Phno
0   charan  21mai1021  9.0     0  9502001591
1    hindu  21mai1022  6.0     1  9502001592
2    likky  21mai1023  7.0     2  9502001593
3   harsha  21mai1024  2.0     3  9502001594
4   akshay  21mai1025  4.0     4  9502001595
5    tarun  21mai1026  3.0     5  9502001596
6    surya  21mai1027  1.0     6  9502001597
7  moulika  21mai1028  0.0     7  9502001598
8   jhansi  21mai1029  NaN     8  9502001599
9  satwika  21mai1030  8.0     9  9502001600

Task-2:Check the info of 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   10 non-null     object
 1   RegNo   10 non-null     object
 2   GPA     9 non-null      float64
 3   CGPA    10 non-null     int64
 4   Phno    10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task-3:Check the descriptive statistics of 'df'

In [ ]:
df.describe()

            GPA      CGPA
count  9.000000  10.00000
mean   4.444444   4.50000
std    3.205897   3.02765
min    0.000000   0.00000
25%    2.000000   2.25000
50%    4.000000   4.50000
75%    7.000000   6.75000
max    9.000000   9.00000

Task-4:Check the 4th index observation with 'loc' slicing operator.

In [ ]:
df.loc[4]

Names        akshay
RegNo     21mai1025
GPA             4.0
CGPA              4
Phno     9502001595
Name: 4, dtype: object

Task-5:Check the null values in your 'df'

In [ ]:
df.isnull().sum()

Names    0
RegNo    0
GPA      1
CGPA     0
Phno     0
dtype: int64